html{ scroll-behavior: smooth; }

body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Abel';
    background-color: #A6A2A2;   
}

a {
    text-decoration: none !important;
  }

/* navigation bar*/
.nav{
    background-color: #CFD2CD;
    width: 100%;
    height: 6vw;
    position: fixed;
    z-index: 1;
    text-align: center;
    font-size: 3vw;
    color: #fff;
    line-height: 5vw;   
    transition:.4s linear;
}

/* about me */
.about{
    background-color: #5c5c5c;
    padding-top: 6vw;
    width: 100%;
    height: 30vw;
    text-align: center;
    transition:.4s linear;
}

#h1 {
    font-size: 5vw;
}

#h2 {
    font-size: 1vw;
}
#p{
    font-size: 2vw;
}

#home{
    text-align: center;
    padding-right: 2vw;
    padding-left: 2vw;
    color: black;
    font-size: 3vw;
}

#under{
    text-align: center;
    padding-right: 3vw;
    padding-left: 4vw;
    color: black;
    font-size: 1vw;
}



#github{
    text-align: center;
    padding-right: 5vw;
    color: black;
    font-size: 5vw;
}

#linkedin{
    text-align: center;
    padding-left: 5vw;
    color: navy;
    font-size: 5vw;
}

#email{
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
    color: beige;
    font-size: 5vw;
}


/* projects*/
.project{
    width: 100%;
    height: 40vw;
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 3vw;   
    transition:.4s linear;
}

/* contact me*/
.contact{
    background-color: #5c5c5c;
    text-align: center;
    width: 100%;
    height: 10vw;
    padding-top: 4vw;
    transition: .4s linear;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {display:block;}