html{ scroll-behavior: smooth; }

body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Abel';
    background-color: #A6A2A2;   
}

a {
    text-decoration: none !important;
  }

details > summary {
    list-style: none;
}

/* navigation bar*/
.nav{
    background-color: #CFD2CD;
    width: 100%;
    height: 6.3vw;
    position: fixed;
    z-index: 1;
    text-align: center;
    font-size: 3vw;
    transition:.4s linear;
}

/* about me */
.about{
    background-color: #5c5c5c;
    padding-top: 6vw;
    width: 100%;
    height: 40vw;
    text-align: center;
    transition:.4s linear;
}

#h1 {
    font-size: 5vw;
}

#h2 {
    font-size: 1vw;
}
#p{
    font-size: 2vw;
}

#home{
    text-align: center;
    padding-right: 2vw;
    padding-left: 2vw;
    color: black;
    font-size: 5vw;
}

#home:hover{
    background: #5c5c5c;
}

#my-projects{
    text-align: center;
    padding-right: 2vw;
    padding-left: 2vw;
    color: black;
    font-size: 5vw;
}

#my-projects:hover{
    background: #A6A2A2;
}

#contact-me{
    text-align: center;
    padding-right: 2vw;
    padding-left: 2vw;
    color: black;
    font-size: 5vw;
}

#contact-me:hover{
    background: #5c5c5c;
}

#github{
    text-align: center;
    padding-right: 5vw;
    color: black;
    font-size: 5vw;
}

#linkedin{
    text-align: center;
    padding-left: 5vw;
    color: navy;
    font-size: 5vw;
}

#email{
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
    color: beige;
    font-size: 5vw;
}


/* projects*/
.project{
    width: 100%;
    height: 40vw;
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 3vw;   
    transition:.4s linear;
}

/* contact me*/
.contact{
    background-color: #5c5c5c;
    text-align: center;
    width: 100%;
    height: 10vw;
    padding-top: 4vw;
    transition: .4s linear;
}

#linkedin:hover{
    transform: scale(1.25);
    transition: .4s ease-in-out;
}

#github:hover{
    transform: scale(1.25);
    transition: .4s ease-in-out; 
}

#email:hover{
    transform: scale(1.4); 
    transition: .4s ease-in-out;
}